.box{
   
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    
    
}

.starship{
    
    margin: 1%;
    background-color: black;
    color: yellow;
    
    height: 60%;
}

.ignite{
    
    padding: 2vw;
    background: linear-gradient(#e1f90319, #ebef0493);
    border: 2px solid black;
    font-size: 3vw;
    color: white;
}